body {
    background: linear-gradient(90deg, #FEDCC5 0%, #FEDDC6 100%);
    height: 450px;
}

img {
    position: relative;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-card {
    position: relative;
    width: 400px;
    height: 500px;
    left: 130px;
    top: -560px;
    border-radius: 32px;
    background-color: #FEDCC5;
    opacity: 0.7;
    filter: drop-shadow(0px 9px 70px rgba(0, 0, 0, 0.3));
}

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 345px;
    top: -977px;
    left: 132px;
}

.cards h1 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    justify-content: center;
    color: #2A1E17;
}

.social-media {
    display: flex;
    gap: 30px;
}

.social-media img {
    cursor: pointer;
}

.cards p {
    font-family: 'Public Sans', sans-serif;
    font-size: 8px;
    padding-top: 10px;
    cursor: pointer;

}

.cards button {
    width: 326px;
    height: 50px;
    background: #F25019;
    border: 1px solid #F25019;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 410px 164px rgba(0, 0, 0, 0.01), 0px 230px 138px rgba(0, 0, 0, 0.05), 0px 102px 102px rgba(0, 0, 0, 0.09), 0px 26px 56px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.input-group {
    position: relative;
}

input {
    border: 1px solid white;
    border-radius: 5px;
    background: none;
    font-size: 1rem;
    transition: 1ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 326px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 410px 164px rgba(0, 0, 0, 0.01), 0px 230px 138px rgba(0, 0, 0, 0.05), 0px 102px 102px rgba(0, 0, 0, 0.09), 0px 26px 56px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

}

label {
    position: absolute;
    left: 10px;
    color: black;
    pointer-events: none;
    font-size: 15px;
    /* opacity: 0.6; */
    font-family: sans-serif;
    transform: translateY(1rem);
    transition: 1ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus {
    outline: none;
    border: 2px solid green;

}

input:focus~label {
    transform: translateY(-50%) scale(0.8);
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 5px;
    font-family: 'Public Sans', sans-serif;
    border: 0.5px solid green;
}